.left-container {
    flex: 0 1 50%;
    padding: .5em;
    height: 600px;
    overflow: auto;
}
.right-container {
    flex: 0 1 50%;
    padding: .5em;
    height: 600px;
    overflow: auto;
}
.main-container {
    display: flex;
}